In [1]:
#printing elements in the list
students=['ravi','naveen','joseph','nisar','vanshika','huda','nuda']
print(students)

['ravi', 'naveen', 'joseph', 'nisar', 'vanshika', 'huda', 'nuda']

In [2]:
type(students)

list

In [4]:
#print naveen name in output
print(students[1])

naveen

In [5]:
#print ravi name in output
print(students[0])

ravi

In [6]:
#adding vivek name in the list
students.append('vivek')
print(students)

['ravi', 'naveen', 'joseph', 'nisar', 'vanshika', 'huda', 'nuda', 'vivek']

In [7]:
#adding karthik name in the list
students.append('karthik')

In [8]:
print(students)

['ravi', 'naveen', 'joseph', 'nisar', 'vanshika', 'huda', 'nuda', 'vivek', 'karthik']

In [9]:
students.insert(2,'aarif')
print(students)

['ravi', 'naveen', 'aarif', 'joseph', 'nisar', 'vanshika', 'huda', 'nuda', 'vivek', 'karthik']

In [10]:
print(students[2])

aarif

In [11]:
#modify naveen name to kumar
students[1]='kumar'
print(students)

['ravi', 'kumar', 'aarif', 'joseph', 'nisar', 'vanshika', 'huda', 'nuda', 'vivek', 'karthik']

In [12]:
#delete joseph in the list
del students[3]
print(students)

['ravi', 'kumar', 'aarif', 'nisar', 'vanshika', 'huda', 'nuda', 'vivek', 'karthik']

In [13]:
#pop method to deleting temporary element in the list
x=students.pop()
print(students)

['ravi', 'kumar', 'aarif', 'nisar', 'vanshika', 'huda', 'nuda', 'vivek']

In [14]:
print(x)

karthik

In [15]:
a=students.pop(1)
print(students)

['ravi', 'aarif', 'nisar', 'vanshika', 'huda', 'nuda', 'vivek']

In [16]:
print(a)

kumar